[submodule "c-mastery-projects"]
	path = c-mastery-projects
	url = https://github.com/jayshozie/c-mastery-projects.git
[submodule "networking"]
	path = networking
	url = https://github.com/jayshozie/networking.git
[submodule "osdev"]
	path = osdev
	url = https://github.com/jayshozie/osdev
[submodule "hardware-tools"]
	path = hardware-tools
	url = https://github.com/jayshozie/hardware-tools
